#dashboard-image {
    background-image: url('https://www.freepik.com/free-vector/cells-pattern-design_1045087.htm#query=bacteria%20background&position=30&from_view=keyword&track=ais&uuid=ee9aeb2c-c1e0-4232-8a96-81d50ea0f332');
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}


